<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.user">
    <!--
    A launchAble activity must be exported as of Android 12,
    which also makes it available to other apps.
    -->
    <application>
        <activity
            android:name=".ui.RegisterActivity"
            android:exported="true"
            android:theme="@style/Theme.KtMall">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>